body {
  font-family: 'Nunito', sans-serif;
  color: #97C30A;
  background-color:black;
}

h1, h2, h3 {
  text-align: center;
}

h3 {
  color: deepskyblue;
}


p {
  text-align: center;
}

#image-container {
  display: flex;
  justify-content: center;
  transition: all 0.2s;
}

.left {
  margin-left: -5000px;
}

#chart-container {
  transition: all 1s;
}

.fade {
  opacity: 0;
}

nav {
  text-align: center;
  display: none;
}

button {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #97C30A;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 200px;
  vertical-align: top;
}

#market {
  background-color: darkred;
}