body {
  font-family: 'Nunito', sans-serif;
  color: #97C30A;
  background-color:black;
}

h1, h2, h3 {
  text-align: center;
}

h3 {
  color: deepskyblue;
}


p {
  text-align: center;
}

#image-container {
  display: flex;
  justify-content: center;
  margin-left: -2999px;
  transition: all 1.4s;
}


#image-container.centered {
  margin-left: 0px;
}

nav {
  text-align: center;
  display: none;
}

button {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #97C30A;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 200px;
  vertical-align: top;
}

#market {
  background-color: darkred;
}

table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
 }

table, th, td {
  padding: 1px 20px;
 }
