body {
  font-family: 'Nunito', sans-serif;
  color: #97C30A;
  background-color:dimgrey;
}

h1, h2, h3 {
  text-align: center;
}

h3 {
  color: deepskyblue;
}


#image-container {
  display: flex;
  justify-content: center;
  }

nav {
  text-align: center;
  display: none;
}

button {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #97C30A;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 295px;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
 }

table, th, td {
  padding: 1px 20px;
 }
